* {
    color: white;
}

body {
    margin: 0;
    background-color: rgb(68, 61, 175);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
}

h1 {
    width: 30%;
    text-align: center;
}

nav {
    width: 70%;
}

#navigation {
    list-style: none;
    display: flex;
}

nav li {
    margin: 15px auto;
}

main {
    background-color: rgb(68, 61, 175);
}

main * {
    color: tan;
}

.section {
    background-color: rgb(64, 115, 64);
    border: 10px solid rgb(68, 61, 175);
    border-radius: 20px;
}

#about {
    display: flex;
    max-width: 100%;
}

#portrait {
    margin: 5%;
    width: 40%;
    border-radius: 20px;
}

#aboutp {
    width: 50%;
}

#webapps h2 {
    text-align: center;
}

#firstapp {
    width: 90%;
    margin: 5%;
    border: 2px solid black;
    border-radius: 15px;
}

#otherapps {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5%;
}

#otherapp {
    margin: 1%;
    width: 32%;
    border: 2px solid black;
    border-radius: 15px;
}

footer {
    padding: 20px;
}

#contact {
    list-style: none;
}