* {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Body */
body {
  background-color: rgb(68, 61, 175);
  margin: auto;
}
.portfolio-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 400px;
  text-align: center;
}
/* Header */
header {
  display: flex;
  width: 96%;
  min-height: 60px;
  margin: auto auto -2% 2%;
}

header * {
  text-align: center;
}

h1:first-child {
  width: 45%;
  vertical-align: center;
  margin-top: auto;
}
/* Navigation */
nav {
  width: 55%;
  margin-left: -9%;
}

.nav-tabs {
  display: flex;
  list-style: none;
}

.nav-item {
  vertical-align: center;
  width: 50%;
}

.nav-link:hover {
  text-shadow: white 0 0 2px;
  transition: all 0.2s ease-in-out;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.active {
  background-color: rgb(64, 115, 64);
  border: 5px solid rgb(64, 115, 64);
  border-radius: 5px;
  padding-bottom: 20px;
}
/* Main Content */
main * {
  color: tan;
}

section {
  background-color: rgb(64, 115, 64);
  border: 10px solid rgb(68, 61, 175);
  border-radius: 20px;
  min-height: 400px;
  padding-top: 8px;
}
/* About Me */
#about {
  display: flex;
  max-width: 100%;
}

#portrait {
  margin: 20px;
  width: 40%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  border-radius: 20px;
}

article {
  width: auto;
  margin-right: 20px;
}
/*Projects */
#projects {
  margin: auto;
}

#projects h2 {
  text-align: center;
}

.app {
  position: relative;
  margin: 1%;
  max-width: 22%;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.app img {
  filter: saturate(20%);
  max-height: 200px;
  max-width: 100%;
  border-radius: 15px;
  vertical-align: bottom;
}

.app h3 {
  position: absolute;
  padding: 5px;
  bottom: 0;
  color: rgb(68, 61, 175);
  text-decoration: underline;
  background-color: white;
}

.github {
  position: absolute;
  right: 0;
  padding: 5px;
  bottom: 0;
  color: rgb(68, 61, 175);
  text-decoration: underline;
  background-color: rgb(190, 188, 188);
}

.github:hover {
  color: rgb(68, 61, 175);
  text-shadow: rgb(68, 61, 175) 0 0 2px;
}


.app:hover {
  filter: saturate(500%);
  box-shadow: black 0 0 5px;
  text-shadow: rgb(68, 61, 175) 0 0 2px;
  transition: all 0.2s ease-in-out;
}
/* First App */
#first-app {
  display: block;
  width: fit-content;
  max-width: 95%;
  max-height: 98%;
  margin: auto;
}

#first-app img {
  max-height: 400px;
}
/* Other Apps */
#other-apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 98%;
  margin: 1%;
}

/* Contact Page */
#contact-page {
  margin: auto;
  display: flex;
  max-width: 95%;
  padding: 2%;
}
/* Contact Form */
#contact-form {
  margin: auto auto auto 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-input {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 5px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  margin: 5px 0;
  outline: none;
  width: 300px;
  background: white;
  color: black;
}

.contact-input:window-inactive {
  border-color: red;
  
}

#message-input {
  overflow-wrap:break-word;
  width: 400px;
  min-width: 2rem;
  max-width: 640px;
  height: 100px;
  min-height: 2rem;
}

.contact-button {
  padding: 16px;
  max-width: fit-content;
  border-color: rgb(68, 61, 175);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #5d0cff;
}
/* Contact Info */
#contact-info {
  margin: auto 2% auto auto;
  text-align: right;
  list-style: none;
}
#contact-info a{
  text-decoration: underline;
}

#contact-info a:hover {
  text-shadow: white 0 0 2px;
  transition: all 0.2s ease-in-out;
}
/* Resume */
#resume {
  margin: 5px auto;
}

#resume p {
  padding: 10px;
  text-align: left;
}

#resume p * {
  margin: auto;
  text-align: left;
}
/* Footer */
footer {
  padding: 20px;
}
/* Copyright */
footer h5 {
  margin: auto;
  text-align: center;
}
/* Screen Size Accesibility */
/* 798px-1280px */
@media screen and (max-width: 1280px) {
  /* About Me */
  #portrait {
    margin: 2%;
    max-width: 400px;
    max-height: 400px;
  }
  article {
    max-width: 68%;
    margin-right: 1%;
  }
  /* Web Apps */
  .app {
    max-width: 31%;
  }
  .app img {
    max-height: 300px;
  }
}
/* 634px-798px */
@media screen and (max-width: 798px) {
  /* Web Apps */
  .app {
    max-width: 46%;
  }
}
/* 256px-634px */
@media screen and (max-width: 634px) {
  /* Header */
  header {
    flex-direction: column;
  }
  h1 {
    width: 100%;
    margin: 2% auto auto -2%;
  }
  /* Navigation */
  nav {
    width: 100%;
    margin-left: -7%;
  }
  nav li {
    width: 33%;
    margin: auto;
  }
  /* About Me */
  #about {
    flex-direction: column;
  }
  #portrait {
    width: 90%;
    margin: 5% auto auto auto;
  }
  article {
    max-width: 90%;
    margin-left: 3%;
  }
  /* Web Apps */
  .app {
    max-width: 90%;
  }
  .app img {
    border-radius: 15px 15px 0 0;
  }
  .app h3 {
    position: initial;
    margin: auto;
    padding-left: 2%;
    border-radius: 0 0 15px 15px;
  }
  /* First App */
  #firstapp {
    width: 95%;
    margin: auto;
  }
}
/* Less than 256px */
@media screen and (max-width: 256px) {
  /* Navigation */
  nav {
    margin-left: -10%;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    width: 100%;
    margin-top: 1%;
  }
}