/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

.portfolio-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.bucket-form {
  margin-bottom: 32px;
}

.bucket-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.bucket-input::placeholder {
  color: #e2e2e2;
}

.bucket-button {
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #5d0cff;
  color: #fff;
  text-transform: capitalize;
}

.bucket-input.edit {
  border: 2px solid #149fff;
}

.bucket-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.bucket-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.bucket-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.low {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.medium {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.high {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
} */

/* Dropdown menu */

/* Dropdown Button
.dropbtn {
  background-color: #ec5700;
  border-radius: 4px;
  width: 75px;
  color: white;
  padding: 16px;
  margin: 10px;
  /* font-size: 16px;
  border: none;
} */

/* The container <div> - needed to position the dropdown content
.dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default)
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 215px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

/* Links inside the dropdown
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* Change color of dropdown links on hover
.dropdown-content p:hover {
  background-color: #ddd;
} */

/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content {
  display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown
.dropdown:hover .dropbtn {
  background-color: #5d0cff;
} */

* {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Body */
body {
  background-color: rgb(68, 61, 175);
  margin: auto;
}
/* Header */
header {
  display: flex;
  width: 96%;
  margin: auto auto -2% 2%;
}

.header {
  text-align: center;
}

h1 {
  width: 45%;
}
/* Navigation */
nav {
  width: 55%;
  margin-left: -9%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 15px auto auto auto;
  width: 50%;
}

nav li:hover {
  text-shadow: white 0 0 2px;
  transition: all 0.2s ease-in-out;
}
/* Main Content */
main * {
  color: tan;
}

section {
  background-color: rgb(64, 115, 64);
  border: 10px solid rgb(68, 61, 175);
  border-radius: 20px;
}
/* About Me */
#about {
  display: flex;
  max-width: 100%;
}

#portrait {
  margin: 20px;
  width: 40%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  border-radius: 20px;
}

article {
  width: auto;
  margin-right: 20px;
}
/* Web Apps */
#webapps {
  margin: auto;
}

#webapps h2 {
  text-align: center;
}

.app {
  position: relative;
  margin: 1%;
  max-width: 22%;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.app img {
  filter: saturate(50%);
  max-height: 200px;
  max-width: 100%;
  border-radius: 15px;
  vertical-align: bottom;
}

.app h3 {
  position: absolute;
  padding: 5px;
  bottom: 0;
  color: rgb(68, 61, 175);
  text-decoration: underline;
  background-color: white;
}

.app:hover {
  filter: saturate(200%);
  box-shadow: black 0 0 5px;
  text-shadow: rgb(68, 61, 175) 0 0 2px;
  transition: all 0.2s ease-in-out;
}
/* First App */
#first-app {
  display: block;
  width: fit-content;
  max-width: 95%;
  max-height: 98%;
  margin: auto;
}

#first-app img {
  max-height: 400px;
}
/* Other Apps */
#other-apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 98%;
  margin: 1%;
}
/* Footer */
footer {
  padding: 20px;
}

/* Contact Info */
#contact {
  list-style: none;
}

#contact a:hover {
  text-shadow: white 0 0 2px;
  transition: all 0.2s ease-in-out;
}
/* Copyright */
h4 {
  margin: 5% auto auto auto;
  text-align: center;
}

h5 {
  margin: auto;
  text-align: center;
}
/* Screen Size Accesibility */
/* 798px-1280px */
@media screen and (max-width: 1280px) {
  /* About Me */
  #portrait {
    margin: 2%;
    max-width: 400px;
    max-height: 400px;
  }
  article {
    max-width: 68%;
    margin-right: 1%;
  }
  /* Web Apps */
  .app {
    max-width: 31%;
  }
  .app img {
    max-height: 300px;
  }
}
/* 634px-798px */
@media screen and (max-width: 798px) {
  /* Web Apps */
  .app {
    max-width: 46%;
  }
}
/* 256px-634px */
@media screen and (max-width: 634px) {
  /* Header */
  header {
    flex-direction: column;
  }
  h1 {
    width: 100%;
    margin: 2% auto auto -2%;
  }
  /* Navigation */
  nav {
    width: 100%;
    margin-left: -7%;
  }
  nav li {
    width: 33%;
    margin: auto;
  }
  /* About Me */
  #about {
    flex-direction: column;
  }
  #portrait {
    width: 90%;
    margin: 5% auto auto auto;
  }
  article {
    max-width: 90%;
    margin-left: 3%;
  }
  /* Web Apps */
  .app {
    max-width: 90%;
  }
  .app img {
    border-radius: 15px 15px 0 0;
  }
  .app h3 {
    position: initial;
    margin: auto;
    padding-left: 2%;
    border-radius: 0 0 15px 15px;
  }
  /* First App */
  #firstapp {
    width: 95%;
    margin: auto;
  }
}
/* Less than 256px */
@media screen and (max-width: 256px) {
  /* Navigation */
  nav {
    margin-left: -10%;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    width: 100%;
    margin-top: 1%;
  }
}